<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172490577-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-172490577-1');
		</script>

		<title>Git Prompt Kit playground</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<meta itemprop="image" content="https://git-prompt-kit.netlify.app/git-prompt-kit-thumbnail.jpg">
		<meta itemprop="description" content="Configurable set of components for creating feature rich, high performance Git-aware zsh prompts (aka themes) with minimal coding. Comes with a functional configurable prompt.">
		<meta itemprop="name" content="Git Prompt Kit playground">

		<meta property="og:description" content="Configurable set of components for creating feature rich, high performance Git-aware zsh prompts (aka themes) with minimal coding. Comes with a functional configurable prompt.">
		<meta property="og:image" content="https://git-prompt-kit.netlify.app/git-prompt-kit-thumbnail.jpg">
		<meta property="og:image:height" content="1200">
		<meta property="og:image:width" content="1200">
		<meta property="og:title" content="Git Prompt Kit playground">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://git-prompt-kit.netlify.app/">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:description" content="Configurable set of components for creating feature rich, high performance Git-aware zsh prompts (aka themes) with minimal coding. Comes with a functional configurable prompt.">
		<meta property="twitter:image" content="https://git-prompt-kit.netlify.app/git-prompt-kit-thumbnail.jpg">
		<meta property="twitter:title" content="Git Prompt Kit playground">

		<link rel="stylesheet" href="app.css">
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&family=Taviraj:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<main>
			  <h1>
			    Demo of <a href="//github.com/olets/git-prompt-kit">Git Prompt Kit</a>'s Default Prompt's Features
			  </h1>

			  <div id="prompt"
			       data-module="git-prompt-kit"
			       class="">
			    <div id="not-git">
			      <div id="user">olets</div><div id="host">@dev</div>
			      <div id="time">
			        4:07:47
			      </div>
			      <div id="custom">
			        ~/olets<span></span>
			      </div>
			    </div>

			    <div id="git-ref">
			      <div id="head">
			        <div id="branch">
			          main
			        </div>

			        <div id="commit">
			          1234567
			        </div>
			      </div>

			      <div id="local">
			        local
			      </div>

			      <div id="upstream">
			        <div id="ahead">
			          +<span></span>
			        </div>

			        <div id="behind">
			          -<span></span>
			        </div>

			        <div id="remote">upstream/</div><div id="upstream-branch"><span></span></div>
			      </div>

			      <div id="tag">
			        @v9000
			      </div>
			    </div>

			    <div id="git-status">
			      <div id="extended">
			        <div id="stash">
			          <span></span>⇲
			        </div>
			        <div id="assume-unchanged">
			          <span></span>⥱
			        </div>
			        <div id="skip-worktree">
			          <span></span>⤳
			        </div>
			      </div>

			      <div id="status">
			        <div id="untracked">
			          <span></span>??
			        </div>
			        <div id="conflicted">
			          <span></span>UU
			        </div>
			        <div id="unstaged-deleted">
			          <span></span>_D
			        </div>
			        <div id="unstaged-modified">
			          <span></span>_M
			        </div>
			        <div id="new">
			          <span></span>A_
			        </div>
			        <div id="staged-deleted">
			          <span></span>D_
			        </div>
			        <div id="staged-modified">
			          <span></span>M_
			        </div>
			      </div>

			      <div id="action">
			        merge
			      </div>
			    </div>

			    <div id="char"></div>
			  </div>

			  <form action="">
			    <fieldset class="fieldset">
			      <legend>
			        Terminal theme
			        <button data-reset type="button">Reset</button>
			      </legend>

			      <div class="fields">
			        <div class="field">
			          <label for="checked-light-terminal">Background color</label>
			          <input type="color" id="color-background" value="#262721" data-default="#262721">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Text color</label>
			          <input type="color" id="color-text" value="#c7c7c7" data-default="#c7c7c7">
			        </div>
			      </div>
			    </fieldset>

			    <fieldset class="fieldset">
			      <legend>
			        Git Prompt Kit theme
			        <button data-reset type="button">Reset</button>
			      </legend>

			      <div class="fields">
			        <div class="field">
			          <label for="checked-light-terminal">Action color</label>
			          <input type="color" id="color-action" value="#ff00af" data-default="#ff00af">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">assume-unchanged color</label>
			          <input type="color" id="color-assume-unchanged" value="#5fd7ff" data-default="#5fd7ff">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Custom color</label>
			          <input type="color" id="color-custom" value="#00afff" data-default="#00afff">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Failed color</label>
			          <input type="color" id="color-failed" value="#870000" data-default="#870000">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Ahead color</label>
			          <input type="color" id="color-ahead" value="#af87d7" data-default="#af87d7">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Host color</label>
			          <input type="color" id="color-host" value="#af87d7" data-default="#af87d7">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Inactive color</label>
			          <input type="color" id="color-inactive" value="#9e9e9e" data-default="#9e9e9e">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Remote color</label>
			          <input type="color" id="color-remote" value="#ffaf87" data-default="#ffaf87">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">skip-worktree color</label>
			          <input type="color" id="color-skip-worktree" value="#5fd7ff" data-default="#5fd7ff">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Staged color</label>
			          <input type="color" id="color-staged" value="#87ff87" data-default="#87ff87">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Stash color</label>
			          <input type="color" id="color-stash" value="#5fd7ff" data-default="#5fd7ff">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Succeeded color</label>
			          <input type="color" id="color-succeeded" value="#5fd700" data-default="#5fd700">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Tag color</label>
			          <input type="color" id="color-tag" value="#5fffd7" data-default="#5fffd7">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">Unstaged color</label>
			          <input type="color" id="color-unstaged" value="#d70087" data-default="#d70087">
			        </div>
			        <div class="field">
			          <label for="checked-light-terminal">User color</label>
			          <input type="color" id="color-user" value="#87afaf" data-default="#87afaf">
			        </div>
			      </div>
			    </fieldset>
			    <fieldset class="fieldset">
			      <legend>
			        Options (all are true by default)
			        <button data-reset type="button">Reset</button>
			      </legend>
			      <div class="fields">
			        <div class="field">
			          <label for="checked-no-break-before-ref">No line break before ref</label>
			          <input type="checkbox" id="checked-no-break-before-ref" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-break-after-ref">Line break after ref</label>
			          <input type="checkbox" id="checked-break-after-ref" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-extended-status">Show extended status</label>
			          <input type="checkbox" id="checked-extended-status" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-show-inactive-status">Show inactive tree status</label>
			          <input type="checkbox" id="checked-show-inactive-status" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-show-inactive-extended-status">Show inactive extended tree status</label>
			          <input type="checkbox" id="checked-show-inactive-extended-status">
			        </div>
			        <div class="field">
			          <label for="checked-show-inactive-ahead-behind">Show inactive ahead and behind</label>
			          <input type="checkbox" id="checked-show-inactive-ahead-behind">
			        </div>
			      </div>
			    </fieldset>
			    <fieldset class="fieldset">
			      <legend>
			        Context
			        <button data-reset type="button">Reset</button>
			      </legend>
			      <div class="fields">
			        <div class="field">
			          <label for="checked-git">Is a Git repo</label>
			          <input type="checkbox" id="checked-git" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-succeeded">Previous command succeeded</label>
			          <input type="checkbox" id="checked-succeeded" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-default-user">Default user</label>
			          <input type="checkbox" id="checked-default-user" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-default-host">Default host</label>
			          <input type="checkbox" id="checked-default-host" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-root-user">Root user</label>
			          <input type="checkbox" id="checked-root-user">
			        </div>
			      </div>
			    </fieldset>
			    <fieldset class="fieldset">
			      <legend>
			        Git ref
			        <button data-reset type="button">Reset</button>
			      </legend>
			      <div class="fields">
			        <div class="field">
			          <label for="checked-branch">On a branch</label>
			          <input type="checkbox" id="checked-branch" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-upstream">The checked out branch has an upstream</label>
			          <input type="checkbox" id="checked-upstream" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-ahead">Local is ahead of upstream</label>
			          <input type="checkbox" id="checked-ahead">
			        </div>
			        <div class="field">
			          <label for="checked-behind">Local is behind upstream</label>
			          <input type="checkbox" id="checked-behind" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-default-remote">Upstream is on the default remote</label>
			          <input type="checkbox" id="checked-default-remote" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-same-name">Upstream and local branches have same name</label>
			          <input type="checkbox" id="checked-same-name" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-tag">On a tag</label>
			          <input type="checkbox" id="checked-tag">
			        </div>
			      </div>
			    </fieldset>
			    <fieldset class="fieldset">
			      <legend>
			        Git status
			        <button data-reset type="button">Reset</button>
			      </legend>
			      <div class="fields">
			        <div class="field">
			          <label for="checked-stash">Has stash(es)</label>
			          <input type="checkbox" id="checked-stash" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-assume-unchanged">Has assume-unchanged file(s)</label>
			          <input type="checkbox" id="checked-assume-unchanged">
			        </div>
			        <div class="field">
			          <label for="checked-skip-worktree">Has skip-worktree file(s)</label>
			          <input type="checkbox" id="checked-skip-worktree">
			        </div>
			        <div class="field">
			          <label for="checked-untracked">Has untracked file(s)</label>
			          <input type="checkbox" id="checked-untracked" checked data-default="checked">
			        </div>
			        <div class="field">
			          <label for="checked-conflicted">Has conflicted file(s)</label>
			          <input type="checkbox" id="checked-conflicted">
			        </div>
			        <div class="field">
			          <label for="checked-unstaged-deleted">Has unstaged deleted file(s)</label>
			          <input type="checkbox" id="checked-unstaged-deleted">
			        </div>
			        <div class="field">
			          <label for="checked-unstaged-modified">Has unstaged modified file(s)</label>
			          <input type="checkbox" id="checked-unstaged-modified">
			        </div>
			        <div class="field">
			          <label for="checked-new">Has new file(s)</label>
			          <input type="checkbox" id="checked-new">
			        </div>
			        <div class="field">
			          <label for="checked-staged-deleted">Has staged deleted file(s)</label>
			          <input type="checkbox" id="checked-staged-deleted">
			        </div>
			        <div class="field">
			          <label for="checked-staged-modified">Has staged modified file(s)</label>
			          <input type="checkbox" id="checked-staged-modified">
			        </div>
			        <div class="field">
			          <label for="checked-action">Has action</label>
			          <input type="checkbox" id="checked-action" checked data-default="checked">
			        </div>
			      </div>
			    </fieldset>
			  </form>
			</main>

			<footer>
			  Copyright &copy; Henry Bley-Vroman 2020
			</footer>
		</div>
		<script src="app.js"></script>
	</body>
</html>
